
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/" style="display: flex; align-items: center"><img src="<%=asset_path('logo1.jpg')%>"><p class="headc"></p></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Clients</a></li>
          <li><a href="#services">Services</a></li>
         
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          <%if session[:user_id] || session[:admin_id]%>
<li><a href="/signout">Signout</a></li>
<%end%>
        </ul>
      </nav><!-- .nav-menu -->

     
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Explore 360 Degree Life Solutions with Gemstone<span></span></h1>
          
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="fas fa-copyright"></i>
            <h3><a >YouBrand</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">
           <i class="fas fa-user-alt"></i>
            <h3><a >Manpower Consulting</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="fas fa-digital-tachograph"></i>
            <h3><a >Digital Solutions</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <i class="fas fa-heartbeat"></i>
            <h3><a>Healthcare Solutions</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <i class="fas fa-car-crash"></i>
            <h3><a>Insurance</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
           <i class="fas fa-money-bill-wave"></i>
            <h3><a>Direct Selling</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="<%=asset_path('group1.jpg')%>" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>About Gemstone IIR Solutions Consulting</h3>
            <p>
          
We help organizations generate improved performance by optimizing internal operations and creating a differentiated customer experience.
 
By helping you deliver a higher level of performance, reliability, and value to your customers, we will help you differentiate your business from your competitors and gain a competitive advantage as a result. Your benefits will include: reduced costs, increased sales, a more engaged workforce, and greater customer loyalty.

Explore our services for more. 

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="portfolio" class="clients">

      <div class="container" data-aos="zoom-in">
 <div class="section-title">
          <h2>Clients</h2>
          <p>Our Clients</p>
        </div>
        <div class="owl-carousel clients-carousel">
          <img src="<%=asset_path('bihar.png')%>" alt="">
          <img src="<%=asset_path('atlantis.jpg')%>" alt="">
          <img src="<%=asset_path('bsnl.png')%>" alt="">
          <img src="<%=asset_path('holy.jpg')%>" alt="">
          <img src="<%=asset_path('soi.png')%>" alt="">
       
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch boxn" id="a1" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"> <i class="fas fa-copyright"></i></div>
              <h4><a>YouBrand</a></h4>
              
              <pre>                                      </pre>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 boxn" id="a2" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"> <i class="fas fa-user-alt"></i></div>
              <h4><a>Human Resource Consulting</a></h4>
              
            <pre>                                      </pre></div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 boxn" id="a3" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"> <i class="fas fa-digital-tachograph"></i></div>
              <h4><a >Digital Solutions</a></h4>
              <pre>                                      </pre>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 boxn" id="a4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4><a >Healthcare Solutions</a></h4>
              
            
              <pre>                                      </pre></div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch boxn" id="a5" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a >Sales Empowerment Solutions</a></h4>
              
              <pre>                                      </pre>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 boxn" id="a6" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a >Covid Essentials</a></h4>

              <pre>                                      </pre>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 boxn" id="a7" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-car-crash"></i></div>
              <h4><a >Insurance</a></h4>
              <pre>                                </pre>
            </div>
          </div>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 boxn" id="a8" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-money-bill-wave"></i></div>
              <h4><a >Direct Selling</a></h4>
              <pre>                                </pre>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in" style="display: flex;">

        <div class="text-center">
          <h5 style="color: white">Vision </h5>
                   <p>To become the ideal destination for enabling transformation of every individual and organization.</p>
         
        </div>
        <div class="text-center">
<h5 style="color: white">Mission </h5>
                   <p>We believe that everyone is a unique and special creation and we help them discover and manifest their true potential.</p>
         </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    
    <!-- ======= Testimonials Section ======= -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Our Team</p>
        </div>

        <div class="row">

<div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="<%=asset_path('gcj.jpg')%>" class="img-fluid" alt="">
                <!-- <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Ganesh Chandra Jha</h4>
                <span>Managing Director</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="<%=asset_path('akj.jpg')%>" class="img-fluid" alt="">
                <!-- <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Aashish K Jha</h4>
                <span>Director</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="<%=asset_path('amit.jpg')%>" class="img-fluid" alt="">
             <!--    <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Amit Kumar</h4>
                <span>Senior Operations Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="<%=asset_path('sewa.jpg')%>" class="img-fluid" alt="">
              <!--   <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Sewa Sadaf</h4>
                <span>Buisness Development Manager</span>
              </div>
            </div>
          </div>

         


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="<%=asset_path('garima.jpg')%>" class="img-fluid" alt="">
              <!--   <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Garima Jagtani</h4>
                <span>Brand Manager</span>
              </div>
            </div>
          </div>







 <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="<%=asset_path('achala.jpg')%>" class="img-fluid" alt="">
              <!--   <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Achala Modi</h4>
                <span>Talent Acquistion Manager</span>
              </div>
            </div>
          </div>



 <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="<%=asset_path('neeraj.jpg')%>" class="img-fluid" alt="">
               <!--  <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Niraj Kumar</h4>
                <span>Senior Accounts Executive</span>
              </div>
            </div>
          </div>


 <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="<%=asset_path('priya1.jpg')%>" class="img-fluid" alt="">
              <!--   <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Priya</h4>
                <span>Market Developer</span>
              </div>
            </div>
          </div>


 <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="<%=asset_path('rema.jpg')%>" class="img-fluid" alt="">
              <!--   <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>Reema</h4>
                <span>Talent Acquisition Executive</span>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.278327727539!2d85.10382191446104!3d25.628886483697237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed59d55600ac95%3A0x550a04a6713aa84b!2sPatliputra%20Sub%20Post%20Office!5e0!3m2!1sen!2sin!4v1602189695976!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
               <i class="fas fa-compass"></i>
                <h4>Location:</h4>
                <p>Address 1st Floor, 140-C1 & C2, Opp. Post Office, Patliputra, Patna - 800013</p>
              </div>

              <div class="email">
                <i class="fas fa-envelope"></i>
                <h4>Email:</h4>
                <p>gemstoneconsulting@gmail.com</p>
              </div>

              <div class="phone">
                <i class="fas fa-phone-square-alt"></i>
                <h4>Call:</h4>
                <p>+91 7091487999</p>
              </div>

            </div>

          </div>

          
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
   

    <div class="container">
      <div style="display: flex;justify-content: space-between">
      <h6 style="padding: 20px"><a href="/login">Login</a></h6>
      <h6 style="padding: 20px"><a href="/admin">Admin</a></h6>
      <h6 style="padding: 20px"><a href="/stone">Data</a></h6>
      <h6 style="padding: 20px"><a href="/createuser">Add User</a></h6>

      </div>
      <div class="copyright">

        &copy; Copyright <strong><span>Gemstone Consulting Solutions IIR</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="fas fa-arrow-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.1/venobox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

  <!-- Template Main JS File -->
  <script>
  	!(function($) {
  "use strict";

  // Preloader
  $(window).on('load', function() {
    if ($('#preloader').length) {
      $('#preloader').delay(100).fadeOut('slow', function() {
        $(this).remove();
      });
    }
  });

  // Smooth scroll for the navigation menu and links with .scrollto classes
  var scrolltoOffset = $('#header').outerHeight() - 2;
  $(document).on('click', '.nav-menu a, .mobile-nav a, .scrollto', function(e) {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      e.preventDefault();
      var target = $(this.hash);
      if (target.length) {

        var scrollto = target.offset().top - scrolltoOffset;

        if ($(this).attr("href") == '#header') {
          scrollto = 0;
        }

        $('html, body').animate({
          scrollTop: scrollto
        }, 1500, 'easeInOutExpo');

        if ($(this).parents('.nav-menu, .mobile-nav').length) {
          $('.nav-menu .active, .mobile-nav .active').removeClass('active');
          $(this).closest('li').addClass('active');
        }

        if ($('body').hasClass('mobile-nav-active')) {
          $('body').removeClass('mobile-nav-active');
          $('.mobile-nav-toggle i').toggleClass('icofont-navigation-menu icofont-close');
          $('.mobile-nav-overly').fadeOut();
        }
        return false;
      }
    }
  });

  // Activate smooth scroll on page load with hash links in the url
  $(document).ready(function() {
    if (window.location.hash) {
      var initial_nav = window.location.hash;
      if ($(initial_nav).length) {
        var scrollto = $(initial_nav).offset().top - scrolltoOffset;
        $('html, body').animate({
          scrollTop: scrollto
        }, 1500, 'easeInOutExpo');
      }
    }
  });

  // Mobile Navigation
  if ($('.nav-menu').length) {
    var $mobile_nav = $('.nav-menu').clone().prop({
      class: 'mobile-nav d-lg-none'
    });
    $('body').append($mobile_nav);
    $('body').prepend('<button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>');
    $('body').append('<div class="mobile-nav-overly"></div>');

    $(document).on('click', '.mobile-nav-toggle', function(e) {
      $('body').toggleClass('mobile-nav-active');
      $('.mobile-nav-toggle i').toggleClass('icofont-navigation-menu icofont-close');
      $('.mobile-nav-overly').toggle();
    });

    $(document).on('click', '.mobile-nav .drop-down > a', function(e) {
      e.preventDefault();
      $(this).next().slideToggle(300);
      $(this).parent().toggleClass('active');
    });

    $(document).click(function(e) {
      var container = $(".mobile-nav, .mobile-nav-toggle");
      if (!container.is(e.target) && container.has(e.target).length === 0) {
        if ($('body').hasClass('mobile-nav-active')) {
          $('body').removeClass('mobile-nav-active');
          $('.mobile-nav-toggle i').toggleClass('icofont-navigation-menu icofont-close');
          $('.mobile-nav-overly').fadeOut();
        }
      }
    });
  } else if ($(".mobile-nav, .mobile-nav-toggle").length) {
    $(".mobile-nav, .mobile-nav-toggle").hide();
  }

  // Navigation active state on scroll
  var nav_sections = $('section');
  var main_nav = $('.nav-menu, #mobile-nav');

  $(window).on('scroll', function() {
    var cur_pos = $(this).scrollTop() + 200;

    nav_sections.each(function() {
      var top = $(this).offset().top,
        bottom = top + $(this).outerHeight();

      if (cur_pos >= top && cur_pos <= bottom) {
        if (cur_pos <= bottom) {
          main_nav.find('li').removeClass('active');
        }
        main_nav.find('a[href="#' + $(this).attr('id') + '"]').parent('li').addClass('active');
      }
      if (cur_pos < 300) {
        $(".nav-menu ul:first li:first").addClass('active');
      }
    });
  });

  // Toggle .header-scrolled class to #header when page is scrolled
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('#header').addClass('header-scrolled');
    } else {
      $('#header').removeClass('header-scrolled');
    }
  });

  if ($(window).scrollTop() > 100) {
    $('#header').addClass('header-scrolled');
  }

  // Back to top button
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });

  $('.back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 1500, 'easeInOutExpo');
    return false;
  });

  // Clients carousel (uses the Owl Carousel library)
  $(".clients-carousel").owlCarousel({
    autoplay: true,
    dots: true,
    loop: true,
    responsive: {
      0: {
        items: 2
      },
      768: {
        items: 4
      },
      900: {
        items: 6
      }
    }
  });

  // Porfolio isotope and filter
  $(window).on('load', function() {
    var portfolioIsotope = $('.portfolio-container').isotope({
      itemSelector: '.portfolio-item'
    });

    $('#portfolio-flters li').on('click', function() {
      $("#portfolio-flters li").removeClass('filter-active');
      $(this).addClass('filter-active');

      portfolioIsotope.isotope({
        filter: $(this).data('filter')
      });
      aos_init();
    });

    // Initiate venobox (lightbox feature used in portofilo)
    $(document).ready(function() {
      $('.venobox').venobox({
        'share': false
      });
    });
  });

  // jQuery counterUp
  $('[data-toggle="counter-up"]').counterUp({
    delay: 10,
    time: 1000
  });

  // Testimonials carousel (uses the Owl Carousel library)
  $(".testimonials-carousel").owlCarousel({
    autoplay: true,
    dots: true,
    loop: true,
    items: 1
  });

  // Portfolio details carousel
  $(".portfolio-details-carousel").owlCarousel({
    autoplay: true,
    dots: true,
    loop: true,
    items: 1
  });

  // Init AOS
  function aos_init() {
    AOS.init({
      duration: 1000,
      once: true
    });
  }
  $(window).on('load', function() {
    aos_init();
  });

})(jQuery);
  </script>
<script>
$(document).on("click", ".boxn", function (e) {
  if ($("#lightbox").length > 0) {
    // #lightbox exists
if(this.id=="a1"){
  var textl="YouBrand is the Brand Consulting wing of Gemstone IIR Solutions Consulting. YouBrand provides the general and in-depth marketing expertise, brand analysis, and solutions to the companies and individuals to help them successfully sell their products attaining the business goals and objectives.<br> We Make Our Clients Proud. They Are Delighted to Share in Our Hands Their Vision Becomes a Catalytic Channel for Powerful Change. We Hand-pick Our Teams, Partners And Clients So Our Collaboration Sparks With Exciting Perpetual Energy Creating a ‘true Acceleration'."
}
else if(this.id=="a2"){
var textl="Gemstone provides consulting,training, recruitment, testing, executive educational, HRIS, HR-IT and related solutions in areas of HR, HRD, Recruitment, OD, Industrial Psychology and similar expertise.<br><br> We have a capability base in Human Resource knowledge, ranging from conceptual themes to functional expertise. There is constant effort to integrate human potential with technological advancement. Our strength lies in a successful synthesis of the macro (organizational) and micro (individual) perspectives for the all round growth of Human Resources."
}

else if(this.id=="a3"){
var textl="Digital technology solutions have transformed the world and increased customer expectations within tight budgets. Gemstone IIR Solutions Consulting houses the best digital consultants and capabilities. Our mission is to provide small to large sized enterprises with an array of digital services designed to increase brand visibility, presence, generate quality traffic and leads and deliver significant ROI and increased revenues. <br> <br>We are beyond digital and our services stack enables businesses to strategize, build and leverage emerging technologies to create market-ready solutions with radical benefits. Sharply focused on select verticals, we leverage our world class industry expertise to amplify digital experiences of our clients and their customers."
}
 
 else if(this.id=="a4"){
  var textl="Globally, healthcare enterprises including providers and payers are constantly striving to achieve three major objectives: Improve patient care experience, optimize health outcomes and reduce healthcare costs through healthcare consulting. <br><br>With managing health outcomes as a central theme, healthcare organizations are striving to drive synergies in cost reduction, operational efficiency and delivery of care. Gemstone has realised that for  healthcare organizations to realize the triple aim, it is important to address inherent challenges of modernizing technology systems that have grown in an unstructured manner over a period of time. We partner with healthcare institutions for Tele-consultation and a host of other services."
}
else if(this.id=="a5"){
  var textl="Sales is all about making your approach more personalized, nurtured, tailored and educational. It accounts for all of the constantly changing factors of the modern buyer and transforms the way we sell to align with today's empowered buyer.<br><br>The buyer has all the control, not the salesperson.Just as Inbound Marketing is all about reaching the buyer in the areas they reside with the content they are searching for, Inbound Sales is the same when it comes to prospecting and converting your sales leads.Gemstone provides Sales Empowerment Program to small and medium sized enterprises to amplify their sales."
}

else if(this.id=="a6"){
  var textl="We take pleasure in introducing ourselves as an ISO 9001:2015 certified MSME Company dealing in the supply of different types of Cleaning & Sanitation Materials, besides providing Cleaning & Sanitation Services for Residential and Commercial Establishments on contract basis. <br><br>We are a leading service provider in the above-mentioned categories and have been regularly working with Nagar Parishads, Nagar Paalikas and Gram Panchayats in Jharkhand, Bihar, West Bengal and Uttar Pradesh as well as with various PSUs, Banks, Hospitals, Industries, and different types of Commercial and Residential Establishments.<br><br>In the wake of the current 'COVID-19' crisis across the globe and across the nation, we would like to share the responsibility of making the area under your jurisdiction, a cleaner and 100% sanitized one as well as contribute to the safety and sanitation of the residents, with your kind support."
}
else if(this.id=="a7"){
  var textl="As a responsible person   , we always strive to provide the best for our family whether it's security,  stability or a better lifestyle. But no matter how well planned you are economic instability in absence  of a breadwinner  can bring turbulent times and hamper our dream & aspirations. The risk of Income not keeping pace with our needs and aspirations will always remain.<br><br>In times like these , a life Insurance proves to be our saviour and in time of crisis , neither we nor our family will have to sacrifice their needs & aspirations."
}
else if(this.id=="a8"){
  var textl="Direct Selling is a form of marketing where consumer oriented products & services can  directly be marketed to the consumer.  Generally, at their home or else any other place away from permanent retail location. In today’s scenario this form of marketing has been digitalized by most of the companies an individual can connect digitally with its consumer and share detail information about the product & services one needs to offer.<br><br>Gemstone provides distribution channels and direct selling strategy consulting to organizations and individuals."
}

    //place href as img src value
var textl="aa";
    $(".textbox")[0].html(textl);
    //show lightbox window - you could use .show('fast') for a transition
    $("#lightbox").show();
  } else {
    //#lightbox does not exist - create and insert (runs 1st time only)
if(this.id=="a1"){
  var textl="YouBrand is the Brand Consulting wing of Gemstone IIR Solutions Consulting. YouBrand provides the general and in-depth marketing expertise, brand analysis, and solutions to the companies and individuals to help them successfully sell their products attaining the business goals and objectives.<br> We Make Our Clients Proud. They Are Delighted to Share in Our Hands Their Vision Becomes a Catalytic Channel for Powerful Change. We Hand-pick Our Teams, Partners And Clients So Our Collaboration Sparks With Exciting Perpetual Energy Creating a ‘true Acceleration'."
}
else if(this.id=="a2"){
var textl="Gemstone provides consulting,training, recruitment, testing, executive educational, HRIS, HR-IT and related solutions in areas of HR, HRD, Recruitment, OD, Industrial Psychology and similar expertise.<br><br> We have a capability base in Human Resource knowledge, ranging from conceptual themes to functional expertise. There is constant effort to integrate human potential with technological advancement. Our strength lies in a successful synthesis of the macro (organizational) and micro (individual) perspectives for the all round growth of Human Resources."
}

else if(this.id=="a3"){
var textl="Digital technology solutions have transformed the world and increased customer expectations within tight budgets. Gemstone IIR Solutions Consulting houses the best digital consultants and capabilities. Our mission is to provide small to large sized enterprises with an array of digital services designed to increase brand visibility, presence, generate quality traffic and leads and deliver significant ROI and increased revenues. <br> <br>We are beyond digital and our services stack enables businesses to strategize, build and leverage emerging technologies to create market-ready solutions with radical benefits. Sharply focused on select verticals, we leverage our world class industry expertise to amplify digital experiences of our clients and their customers."
}
 
 else if(this.id=="a4"){
  var textl="Globally, healthcare enterprises including providers and payers are constantly striving to achieve three major objectives: Improve patient care experience, optimize health outcomes and reduce healthcare costs through healthcare consulting. <br><br>With managing health outcomes as a central theme, healthcare organizations are striving to drive synergies in cost reduction, operational efficiency and delivery of care. Gemstone has realised that for  healthcare organizations to realize the triple aim, it is important to address inherent challenges of modernizing technology systems that have grown in an unstructured manner over a period of time. We partner with healthcare institutions for Tele-consultation and a host of other services."
}
else if(this.id=="a5"){
  var textl="Sales is all about making your approach more personalized, nurtured, tailored and educational. It accounts for all of the constantly changing factors of the modern buyer and transforms the way we sell to align with today's empowered buyer.<br><br>The buyer has all the control, not the salesperson.Just as Inbound Marketing is all about reaching the buyer in the areas they reside with the content they are searching for, Inbound Sales is the same when it comes to prospecting and converting your sales leads.Gemstone provides Sales Empowerment Program to small and medium sized enterprises to amplify their sales."
}

else if(this.id=="a6"){
  var textl="We take pleasure in introducing ourselves as an ISO 9001:2015 certified MSME Company dealing in the supply of different types of Cleaning & Sanitation Materials, besides providing Cleaning & Sanitation Services for Residential and Commercial Establishments on contract basis. <br><br>We are a leading service provider in the above-mentioned categories and have been regularly working with Nagar Parishads, Nagar Paalikas and Gram Panchayats in Jharkhand, Bihar, West Bengal and Uttar Pradesh as well as with various PSUs, Banks, Hospitals, Industries, and different types of Commercial and Residential Establishments.<br><br>In the wake of the current 'COVID-19' crisis across the globe and across the nation, we would like to share the responsibility of making the area under your jurisdiction, a cleaner and 100% sanitized one as well as contribute to the safety and sanitation of the residents, with your kind support."
}
else if(this.id=="a7"){
  var textl="As a responsible person   , we always strive to provide the best for our family whether it's security,  stability or a better lifestyle. But no matter how well planned you are economic instability in absence  of a breadwinner  can bring turbulent times and hamper our dream & aspirations. The risk of Income not keeping pace with our needs and aspirations will always remain.<br><br>In times like these , a life Insurance proves to be our saviour and in time of crisis , neither we nor our family will have to sacrifice their needs & aspirations."
}
else if(this.id=="a8"){
  var textl="Direct Selling is a form of marketing where consumer oriented products & services can  directly be marketed to the consumer.  Generally, at their home or else any other place away from permanent retail location. In today’s scenario this form of marketing has been digitalized by most of the companies an individual can connect digitally with its consumer and share detail information about the product & services one needs to offer.<br><br>Gemstone provides distribution channels and direct selling strategy consulting to organizations and individuals."
}
   //create HTML markup for lightbox window

    var lightbox =
      '<div id="lightbox">' +
      "<p>Click to close</p>" +
      '<div id="content">' + //insert clicked link's href into img src
      '<div class="textbox"><p>' +
      textl +
      "</p></div>" +
      "</div>" +
      "</div>";

    //insert lightbox HTML into page
    $("body").append(lightbox);
  }
  });

$(document).on("click", "#lightbox", function () {
  //must use live, as the lightbox element is inserted into the DOM
  $("#lightbox").remove();
});


</script>
</body>

</html>